<div class="row">
  <!--My Appointments-->
  <div class="col-md-6">

    @for (reservation of reservations; track reservation.id) {

    <div class="mt-3 bg-light rounded-4  pt-0   " style="width: 20rem;">

      <div
        class="bg-medi time-date-container d-flex justify-content-between align-items-center rounded-top-4  bg-success text-light px-3 p-2">

        <div class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm"
            viewBox="0 0 16 16">
            <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9z" />
            <path
              d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1zm1.038 3.018a6 6 0 0 1 .924 0 6 6 0 1 1-.924 0M0 3.5c0 .753.333 1.429.86 1.887A8.04 8.04 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5M13.5 1c-.753 0-1.429.333-1.887.86a8.04 8.04 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1" />
          </svg>

          <span class="ps-2">{{reservation?.Appointment?.hour }}</span>
        </div>
        <div class="ps-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week"
            viewBox="0 0 16 16">
            <path
              d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
          </svg> <span class="ps-2">{{reservation?.Appointment?.date | date}}</span>
        </div>
      </div>

      <div class="content-container p-3">

        <p class="opacity-75 m-0">{{reservation?.Service?.description}}</p>
      </div>

    </div>

    }@empty {
    <p class="alert alert-warning">you don't have any Appoitment </p>
    }
  </div>
  <!--Calender-->
  <div class="col-md-6">
    <div class="calend">
      <h6 class="">Select date</h6>
      <app-calendar (dateSelected)="handleDateSelected($event)"></app-calendar>
    </div>

    @if(selectedDate){

    <div class="timesel">
      <h6>Select Time</h6>
      <div class="d-flex flex-wrap ">
        <ng-container *ngIf="availableappointments && availableappointments.length > 0">
          <div *ngFor="let appointment of availableappointments; let i = index">
            <div class="checkbox-button" [class.selected]="isSelected(appointment)">
              <input type="checkbox" id="checkbox{{i}}" [disabled]="appointment.status === true || isPastAppointment(appointment.date, appointment.hour)"
                     (change)="handleCheckboxClick(appointment)" [(ngModel)]="selectedAppointments[i]">
              <label for="checkbox{{i}}">{{ formatHour(appointment.hour) }}</label>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!availableappointments || availableappointments.length === 0">
          <p>No appointments available for this day.</p>
        </ng-container>








        <div class="form">
          <div *ngIf="selcAppointment && availableappointments.length > 0">
            <form (ngSubmit)="makeappointment()">
              <select class="form-select" aria-label="Default select example" required [(ngModel)]="selectedService"
                name="selectedService">
                <option disabled [ngValue]="null">Choose a service</option>
                <option *ngFor="let service of services" [ngValue]="service.id">{{ service.description }}</option>
              </select>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description"
                  name="description"></textarea>
              </div>
              <button class="bt" type="submit">Make an appointment for {{ selcAppointment.hour }}</button>
            </form>
          </div>
        </div>



      </div>
    </div>

    }



  </div>

</div>
