button {
  padding: 10px;
  margin: 5px;
}
.custom-dropdown-button {
  color: black; /* Set the icon color to black */
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}

.custom-dropdown-button::after {
  display: none; /* Remove the default down arrow */
}

.custom-dropdown-button:focus {
  box-shadow: none; /* Remove focus outline */
}

.custom-dropdown-button i {
  font-size: 19px; /* Adjust the icon size if needed */
}



.selected {
  background-color: #f0f0f0; /* Change to your desired background color */
  /* Add any other styling you want for the selected appointment */
}
.checkbox-button input[type="checkbox"] {
  display: none;
}

.checkbox-button {
  margin-bottom: 15px;
}

/* Style the label as a button */
.checkbox-button label {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #0a756a; /* Blue color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100px; /* Set a consistent width for the label buttons */
}
.selected {
  /* Your styles for selected appointments */
  background-color: rgb(98, 182, 98) !important;
  border-radius: 10%;
  color: #000; /* For example */
}
.selected label {
  /* Your styles for selected appointments */
  background-color: rgb(98, 182, 98) !important;
  border-radius: 10%;
  color: #000; /* For example */
}
.checkbox-button input[type="checkbox"].selected {
  background-color: #28a745; /* Green color */
}

.checkbox-button input[type="checkbox"]:disabled + label {
  color: #000000; /* Change label text color for disabled checkboxes */
  cursor: not-allowed; /* Change cursor style for disabled checkboxes */
  /* Add any additional styles for disabled checkboxes */
  background-color: #eceaea;
}

.bt {
  background-color: #0a756a; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto; /* Centering horizontally */
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.bt:hover {
  background-color: rgb(60, 151, 64); /* Darker Green */
}

.calend {
  margin-bottom: 30px;
}

.form-select {
  margin-bottom: 15px;
  width: 100%; /* Full width */
}

.form-group {
  margin-bottom: 15px;
}

.form {
  align-content: center;
  margin: 0 auto;
  width: 100%; /* Full width */
}



.appointment-container {
  flex: 1 1 20%; /* Adjust the percentage to control the width of each appointment block */
  box-sizing: border-box;
  padding: 10px;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0b8a76;
}

.btn-danger {
  background-color: #e0c39a;
  border: none;
  border-radius: 20px;
  width: 100px;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto; /* Center the button */
}

.btn-danger:hover {
  background-color: #bdad98;
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(224, 186, 182, 0.705);
}







.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.btn {
  background-color: #0a756a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #086a56;
}
.disabled-date {
  pointer-events: none; /* Prevents mouse interaction */
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
}

.remv-btn {
  background-color: #e74c3c;
  margin-top: 27px;
}

.remv-btn:hover {
  background-color: #c0392b;
}

.add-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  background-color: #2ecc71;
}

.add-btn:hover {
  background-color: #27ae60;
}

.submit-btn {
  display: block;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .col-md-3, .col-md-2, .col-md-1 {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* Custom styles for disabled dates in bsDatepicker */
.bs-datepicker .bs-datepicker-body .cell.disabled {
  background-color: rgb(7, 5, 5) !important; /* Change background color */
  color: rgb(0, 0, 0) !important; /* Change text color */
  cursor: not-allowed;
}

.header{
  margin-bottom: 19px;
}
.header a{
color: #086a56;
cursor: pointer;}
.error-message{
  color: red;
}
.table {
  margin-top: 20px;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.thead-dark th {
  background-color: #343a40;
  color: white;
}










.team-single-text .section-heading h4,
.section-heading h5 {
  font-size: 36px
}

.team-single-text .section-heading.half {
  margin-bottom: 20px
}

@media screen and (max-width: 1199px) {
  .team-single-text .section-heading h4,
  .section-heading h5 {
      font-size: 32px
  }
  .team-single-text .section-heading.half {
      margin-bottom: 15px
  }
}

@media screen and (max-width: 991px) {
  .team-single-text .section-heading h4,
  .section-heading h5 {
      font-size: 28px
  }
  .team-single-text .section-heading.half {
      margin-bottom: 10px
  }
}

@media screen and (max-width: 767px) {
  .team-single-text .section-heading h4,
  .section-heading h5 {
      font-size: 24px
  }
}


.team-single-icons ul li {
  display: inline-block;
  border: 1px solid #02c2c7;
  border-radius: 50%;
  color: #86bc42;
  margin-right: 8px;
  margin-bottom: 5px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s
}

.team-single-icons ul li a {
  color: #02c2c7;
  display: block;
  font-size: 14px;
  height: 25px;
  line-height: 26px;
  text-align: center;
  width: 25px
}

.team-single-icons ul li:hover {
  background: #02c2c7;
  border-color: #02c2c7
}

.team-single-icons ul li:hover a {
  color: #fff
}

.team-social-icon li {
  display: inline-block;
  margin-right: 5px
}

.team-social-icon li:last-child {
  margin-right: 0
}

.team-social-icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50px
}
.team-single-img {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 7px;
}
.padding-30px-all {
  padding: 30px;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.text-center {
  text-align: center!important;
}
img {
  max-width: 70%;
  height: auto;
}


.list-style9 {
  list-style: none;
  padding: 0
}

.list-style9 li {
  position: relative;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1)
}

.list-style9 li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0
}

.col-md-7 {
  display: flex;
  flex-direction: column;

}

.footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  padding: 10px; /* Adjust padding as needed */
  background-color: #f8f9fa; /* Example background color */
  text-align: center; /* Center align text within the footer */
}
.center-container {
  display: flex;
  justify-content: center; /* Centers the div horizontally */
  align-items: center;    /* Centers the div vertically */
}

.modal-content {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.modal-header {
  background-color: #0b8a76;
  color: white;
  justify-content: center;
  border-bottom: none;
}
.modal-title {
  font-size: 24px;
}
.btn-close {
  background-color: white;
  border-radius: 50%;
  border: none;
}
.container {
  padding: 20px;
}
.team-single-img .initials-avatar {
  border-radius: 50%;
  width: 100px;
  padding: 30px;
  font-weight: bold;
  height: 100px;
  font-size: 26px; background-color: #0b8a76;
}
.team-single h4 {
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
}
.team-single p {
  font-size: 14px;
  color: #777;
}
.service-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 3px;
}
.service-description {
  color: #555;
}
.footer p {
  font-weight: bold;
  color: #333;
}
.countdown {
  font-size: 18px;
  color: #FF0000;
  font-weight: bold;
}
