<div class="signUp-section d-grid gap-4 ">

  <h3 class="">Sign up</h3>
  <!-- Progress Bar -->


  <!-- progressbar -->
  <ul id="progressbar" class="m-0 p-0">
    <li class=" text-center" [ngClass]="{'active': currentStep === 1 || currentStep === 2 || currentStep === 3 }"
      id="account">
      <strong>Account</strong>
    </li>
    <li id="personal" class=" text-center" class="text-center"
      [ngClass]="{'active': currentStep === 2 || currentStep === 3 }">
      <strong>Adress</strong>
    </li>
    <li id="payment" class=" text-center" [ngClass]="{'active': currentStep === 3 }">
      <strong>Health</strong>
    </li>
  </ul>


  <!--

  <div class="progress  " style="height: 9px;">
    <div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar"
      [style.width]="(currentStep * 33.33) + '%'">
    </div>
  </div>
-->



  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <!--User info-->
    <div *ngIf="currentStep === 1" class="row g-3 ">
      <!-- Step 1: Basic Information -->

      <!--name-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="name" placeholder="" formControlName="name"
            autocomplete="current-name"
            [class.is-invalid]="signUpForm.get('name')!.invalid && signUpForm.get('name')!.touched "
            [class.is-valid]="signUpForm.get('name')!.valid && signUpForm.get('name')!.touched ">
          <label for="name" class="form-label">name*</label>
          <div *ngIf="(signUpForm.get('name')!.invalid && signUpForm.get('name')!.touched) " class="invalid-feedback">
            Please provide a valid name.
          </div>
        </div>
      </div>

      <!--surname-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="surname" placeholder="" formControlName="surname"
            autocomplete="current-surname"
            [class.is-invalid]="signUpForm.get('surname')!.invalid && signUpForm.get('surname')!.touched "
            [class.is-valid]="signUpForm.get('surname')!.valid && signUpForm.get('surname')!.touched ">
          <label for="surname" class="form-label">Surname*</label>
          <div *ngIf="(signUpForm.get('surname')!.invalid && signUpForm.get('surname')!.touched) "
            class="invalid-feedback">
            Please provide a valid surname.
          </div>
        </div>
      </div>

      <!--Date of Birth-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="date" class="form-control" id="dob" placeholder="" formControlName="dob"
            autocomplete="current-dob"
            [class.is-invalid]="signUpForm.get('dob')!.invalid && signUpForm.get('dob')!.touched "
            [class.is-valid]="signUpForm.get('dob')!.valid && signUpForm.get('dob')!.touched ">
          <label for="dob" class="form-label">Date of Birth*</label>
          <div *ngIf="(signUpForm.get('dob')!.invalid && signUpForm.get('dob')!.touched) " class="invalid-feedback">
            Please provide a valid date.
          </div>
        </div>
      </div>

      <!--phoneNr-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="phoneNr" placeholder="" formControlName="phoneNr"
            autocomplete="current-phoneNr"
            [class.is-invalid]="signUpForm.get('phoneNr')!.invalid && signUpForm.get('phoneNr')!.touched "
            [class.is-valid]="signUpForm.get('phoneNr')!.valid && signUpForm.get('phoneNr')!.touched ">
          <label for="phoneNr" class="form-label">Phone number*</label>
          <div *ngIf="(signUpForm.get('phoneNr')!.invalid && signUpForm.get('phoneNr')!.touched) "
            class="invalid-feedback">
            Please provide a valid phoneNr.
          </div>
        </div>
      </div>

      <!--Email-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="" formControlName="email"
            autocomplete="current-email"
            [class.is-invalid]="signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched "
            [class.is-valid]="signUpForm.get('email')!.valid && signUpForm.get('email')!.touched ">
          <label for="email" class="form-label">Email*</label>
          <div *ngIf="(signUpForm.get('email')!.invalid && signUpForm.get('email')!.touched) " class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>
      </div>

      <!--password-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="" formControlName="password"
            autocomplete="current-password"
            [class.is-invalid]="signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched "
            [class.is-valid]="signUpForm.get('password')!.valid && signUpForm.get('password')!.touched ">
          <label for="password" class="form-label">password*</label>
          <div *ngIf="(signUpForm.get('password')!.invalid && signUpForm.get('password')!.touched) "
            class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>
      </div>


    </div>

    <!--Adress info-->
    <div *ngIf="currentStep === 2" class="row g-3 ">
      <!-- Step 2: Address Information -->

      <!--street-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="street" class="form-control" id="street" placeholder="" formControlName="street"
            autocomplete="current-street"
            [class.is-invalid]="signUpForm.get('street')!.invalid && signUpForm.get('street')!.touched "
            [class.is-valid]="signUpForm.get('street')!.valid && signUpForm.get('street')!.touched ">
          <label for="street" class="form-label">Street*</label>
          <div *ngIf="(signUpForm.get('street')!.invalid && signUpForm.get('street')!.touched) "
            class="invalid-feedback">
            Please provide a valid street.
          </div>
        </div>
      </div>


      <!--HausNr-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="street" class="form-control" id="hNr" placeholder="" formControlName="hNr"
            autocomplete="current-street"
            [class.is-invalid]="signUpForm.get('hNr')!.invalid && signUpForm.get('hNr')!.touched "
            [class.is-valid]="signUpForm.get('hNr')!.valid && signUpForm.get('hNr')!.touched ">
          <label for="street" class="form-label">House Number*</label>
          <div *ngIf="(signUpForm.get('hNr')!.invalid && signUpForm.get('hNr')!.touched) " class="invalid-feedback">
            Please provide a valid HausNr.
          </div>
        </div>
      </div>


      <!--postcode-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="postcode" placeholder="" formControlName="postcode"
            autocomplete="current-postcode"
            [class.is-invalid]="signUpForm.get('postcode')!.invalid && signUpForm.get('postcode')!.touched "
            [class.is-valid]="signUpForm.get('postcode')!.valid && signUpForm.get('postcode')!.touched ">
          <label for="postcode" class="form-label">Post code*</label>
          <div *ngIf="(signUpForm.get('postcode')!.invalid && signUpForm.get('postcode')!.touched) "
            class="invalid-feedback">
            Please provide a valid postcode.
          </div>
        </div>
      </div>

      <!--city-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="city" placeholder="" formControlName="city"
            autocomplete="current-city"
            [class.is-invalid]="signUpForm.get('city')!.invalid && signUpForm.get('city')!.touched "
            [class.is-valid]="signUpForm.get('city')!.valid && signUpForm.get('city')!.touched ">
          <label for="city" class="form-label">City*</label>
          <div *ngIf="(signUpForm.get('city')!.invalid && signUpForm.get('city')!.touched) " class="invalid-feedback">
            Please provide a valid City.
          </div>
        </div>
      </div>
    </div>

    <!--Health Insurance info-->
    <div *ngIf="currentStep === 3" class="row g-3">


      <!--insuranceType-->

      <div class="col-md-12">
        <div class="form-check form-check-inline">
          <input
            [class.is-invalid]="signUpForm.get('insuranceType')!.invalid && signUpForm.get('insuranceType')!.touched "
            [class.is-valid]="signUpForm.get('insuranceType')!.valid && signUpForm.get('insuranceType')!.touched "
            class="form-check-input" type="radio" id="private" value="private" formControlName="insuranceType" required>
          <label class="form-check-label" for="private">
            Private
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            [class.is-invalid]="signUpForm.get('insuranceType')!.invalid && signUpForm.get('insuranceType')!.touched "
            [class.is-valid]="signUpForm.get('insuranceType')!.valid && signUpForm.get('insuranceType')!.touched "
            class="form-check-input" type="radio" id="gesetzlich" value="gesetzlich" formControlName="insuranceType"
            required>
          <label class="form-check-label" for="gesetzlich">
            Gesetzlich
          </label>
        </div>
        <div *ngIf="signUpForm.get('insuranceType')!.invalid && signUpForm.get('insuranceType')!.touched"
          class="invalid-feedback d-block">
          Please select an insurance type.
        </div>
      </div>


      <!--Health Insurance-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="healthInsurance" placeholder="" formControlName="healthInsurance"
            autocomplete="current-healthInsurance"
            [class.is-invalid]="signUpForm.get('healthInsurance')!.invalid && signUpForm.get('healthInsurance')!.touched "
            [class.is-valid]="signUpForm.get('healthInsurance')!.valid && signUpForm.get('healthInsurance')!.touched ">
          <label for="healthInsurance" class="form-label">Health Insurance*</label>
          <div *ngIf="(signUpForm.get('healthInsurance')!.invalid && signUpForm.get('healthInsurance')!.touched) "
            class="invalid-feedback">
            Please provide a valid Health Insurance.
          </div>
        </div>
      </div>


      <!--insuranceNr-->
      <div class="col-md-6">
        <div class="form-floating">
          <input type="text" class="form-control" id="insuranceNr" placeholder="" formControlName="insuranceNr"
            autocomplete="current-insuranceNr"
            [class.is-invalid]="signUpForm.get('insuranceNr')!.invalid && signUpForm.get('insuranceNr')!.touched "
            [class.is-valid]="signUpForm.get('insuranceNr')!.valid && signUpForm.get('insuranceNr')!.touched ">
          <label for="insuranceNr" class="form-label">Insurance Nr*</label>
          <div *ngIf="(signUpForm.get('insuranceNr')!.invalid && signUpForm.get('insuranceNr')!.touched) "
            class="invalid-feedback">
            Please provide a valid insuranceNr.
          </div>
        </div>
      </div>


    </div>
    <!--Buttons-->
    <div class="d-grid gap-4 d-md-block  mt-4 ">
      <button *ngIf="currentStep > 1" type="button" class="btn btn-outline-success me-md-3 "
        (click)="prevStep()">Back</button>
      <button *ngIf="currentStep === 1" type="button" class="btn btn-success " (click)="nextStep()">Next</button>
      <button *ngIf="currentStep === 2" type="submit" class="btn btn-success " (click)="nextStep()">Next</button>
      <button *ngIf="currentStep === 3" type="submit" class="btn btn-success">
        Sign up</button>
    </div>

    <div class="mt-3">
      <span>Already have an account? <a href="javascript:void(0)" (click)="onSwitchToLogin()">Login here</a></span>
    </div>

  </form>

</div>