<div class="container">
  <div class="row text-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Countdown to {{ targetDate }}</h5>
          <div class="countdown">
            <div class="time-unit">
              <span class="number">{{ timeLeft.days }}</span>
              <span class="label">Days</span>
            </div>
            <div class="time-unit">
              <span class="number">{{ timeLeft.hours }}</span>
              <span class="label">Hours</span>
            </div>
            <div class="time-unit">
              <span class="number">{{ timeLeft.minutes }}</span>
              <span class="label">Minutes</span>
            </div>
            <div class="time-unit">
              <span class="number">{{ timeLeft.seconds }}</span>
              <span class="label">Seconds</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>