<div *ngIf="islogedin">
  <div *ngIf="nearestReservation" class="countdown-container">
    <h4 *ngIf="!appointmentTodayMessage" class="countdown-heading fw-bold">Next Appointment in:</h4>
    <h4 *ngIf="appointmentTodayMessage" class="appointment-today-message fw-bold">
      {{ appointmentTodayMessage }}
    </h4>
    <div class="countdown">
      <div class="countdown-item">
        <span class="countdown-number">{{ countdown.days }}</span>
        <span class="countdown-label">Days</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number">{{ countdown.hours }}</span>
        <span class="countdown-label">Hours</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number">{{ countdown.minutes }}</span>
        <span class="countdown-label">Minutes</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number">{{ countdown.seconds }}</span>
        <span class="countdown-label">Seconds</span>
      </div>
    </div>
  </div>
</div>
