<div class="container-fluid">
  <div class="container">
    <app-main-header></app-main-header>

    <app-banner></app-banner>
    <ul class="nav nav-tabs mt-3">
      <li class="nav-item">
        <a class="nav-link" style="color: #0ca981" aria-current="page" [routerLink]="['/home']"
          routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/appoitments']" routerLinkActive="active">Apoitments</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>

    <router-outlet></router-outlet>


  </div>
  <app-footer></app-footer>
</div>
