<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
      <div class="row g-5 mb-5">
          <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px;">
              <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
                  <img class="position-absolute w-100 h-100" src="https://images.unsplash.com/photo-1580152655133-001957ac825b?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fFRlZXRoJTIwV2hpdGVuaW5nfGVufDB8fDB8fHwy" style="object-fit: cover;">
                  <img class="position-absolute w-100 h-100" src="https://images.unsplash.com/photo-1580152655133-001957ac825b?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fFRlZXRoJTIwV2hpdGVuaW5nfGVufDB8fDB8fHwy" style="object-fit: cover;">
              </div>
          </div>
          <div class="col-lg-7">
              <div class="section-title mb-5">
                  <h5 class="position-relative d-inline-block text-success text-uppercase">Our Services</h5>
                  <h1 class="display-5 mb-0">We Offer The Best Quality Dental Services</h1>
              </div>
              <div class="row g-5">
                  <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                      <div class="rounded-top overflow-hidden">
                          <img class="img-fluid" src="https://images.unsplash.com/photo-1617812191081-2a24e3f30e45?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fHNtaWxlfGVufDB8fDB8fHwy" alt="">
                      </div>
                      <div class="position-relative bg-light rounded-bottom text-center p-4">
                          <h5 class="m-0">Cosmetic Dentistry</h5>
                      </div>
                  </div>
                  <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                      <div class="rounded-top overflow-hidden">
                          <img class="img-fluid" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHNtaWxlfGVufDB8fDB8fHwy" alt="">
                      </div>
                      <div class="position-relative bg-light rounded-bottom text-center p-4">
                          <h5 class="m-0">Dental Implants</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="col-lg-7">
              <div class="row g-5">
                  <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                      <div class="rounded-top overflow-hidden">
                          <img class="img-fluid" src="https://images.unsplash.com/photo-1585813597615-19a076b2724a?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHNtaWxlfGVufDB8fDB8fHwy" alt="">
                      </div>
                      <div class="position-relative bg-light rounded-bottom text-center p-4">
                          <h5 class="m-0">Dental Bridges</h5>
                      </div>
                  </div>
                  <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                      <div class="rounded-top overflow-hidden">
                          <img class="img-fluid" src="https://images.unsplash.com/photo-1616536814040-a3f7b97a3500?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fFRlZXRoJTIwV2hpdGVuaW5nfGVufDB8fDB8fHwy" alt="">
                      </div>
                      <div class="position-relative bg-light rounded-bottom text-center p-4">
                          <h5 class="m-0">Teeth Whitening</h5>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
              <div class="position-relative bg-success rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                  <h3 class="text-white mb-3">Make Appointment</h3>
                  <p class="text-white mb-3">Clita ipsum magna kasd rebum at ipsum amet dolor justo dolor est magna stet eirmod</p>
                  <h2 class="text-white mb-0">+012 345 6789</h2>
              </div>
          </div>
      </div>
  </div>
</div>
