<section class="container pt-3 mb-3">
  <h2 class="h3 block-title text-center">Our Services<small>Whatever we do, we do with your end user in mind</small></h2>
  <div class="row pt-5 mt-30 d-flex flex-wrap">
    <div *ngFor="let service of services" class="col-lg-4 col-sm-6 mb-30 pb-5 d-flex">
      <a class="card">
        <div class="box-shadow bg-white rounded-circle mx-auto text-center">


        </div>
        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title pt-1">{{ service.type }}</h3>
          <p class="card-text text-sm flex-grow-1">{{ service.description }}</p>
          <span class="text-sm text-uppercase font-weight-bold">Learn More&nbsp;<i class="fa fa-arrow-right"></i></span>
        </div>
      </a>
    </div>
  </div>
</section>
