<section class="add-appointment-section">
  <div class="row">
    <!--Calender select Date-->
    <div class="col-md-6">
      @if(selectedDate){
      <div class="calend ">
        <h6 class="">Select date</h6>
        <hr>
        <div class="calender-container">

          <app-calendar (dateSelected)="handleDateSelected($event)" class="calendar-component"></app-calendar>
        </div>
      </div>
      }
    </div>
    <!--Times select Time-->
    <div class="col-md-4">
      <!-- Times-->

      <div class="timesel">
        <h6>Select Time</h6>
        <hr>
        <div class="times-container d-flex flex-wrap ">

          <ng-container *ngIf="availableappointments && availableappointments.length > 0">
            <div *ngFor="let appointment of availableappointments; let i = index">

              <div class="checkbox-button" [class.selected]="isSelected(appointment)">
                <input type="checkbox" id="checkbox{{i}}"
                  [disabled]="appointment.status === true || isPastAppointment(appointment.date, appointment.hour)"
                  (change)="handleCheckboxClick(appointment)" [(ngModel)]="selectedAppointments[i]">
                <label for="checkbox{{i}}">{{ formatHour(appointment.hour) }}</label>
              </div>


            </div>
          </ng-container>

        </div>
      </div>

    </div>
    <!--your service and make appointment btn-->
    <div class="col-md-2">
      <h6 class="">Select Service</h6>
      <hr>

      <div class="form">
        <div *ngIf="availableappointments.length > 0">
          <form (ngSubmit)="makeappointment()">

            <select class="form-select" aria-label="Default select example" required [(ngModel)]="selectedService"
              name="selectedService">
              <option disabled selected>Choose a service</option>
              <option *ngFor="let service of services" [ngValue]="service.id">{{ service.type }}</option>
            </select>
            <div *ngIf="selcAppointment && selectedService" class="alert alert-success mt-2">
              Your appointment is scheduled for {{ formatHour(selcAppointment.hour) }} on {{ selectedDate }} for the {{
              getServiceType(selectedService) }} service.
            </div>
            <div *ngIf="!(selcAppointment && selectedService)" class="alert alert-danger mt-2">
              Please select a date, time, and service.
            </div>
            <button class="btn btn-success mt-2 w-100" type="submit">Book appointment</button>
          </form>
        </div>
      </div>

    </div>
  </div>

</section>