<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">OUR TEAM</h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://images.unsplash.com/photo-1612276529731-4b21494e6d71?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTh8fGhhdXNhcnR6dGlufGVufDB8fDB8fHww"
                      alt="card image"></p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.</p>
                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                      class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://images.unsplash.com/photo-1612531386530-97286d97c2d2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTAwfHxoYXVzYXJ0enRpbnxlbnwwfHwwfHx8MA%3D%3D"
                      alt="card image"></p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.</p>
                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                      class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid"
                      src="https://images.unsplash.com/photo-1536064479547-7ee40b74b807?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA2fHxoYXVzYXJ0enRpbnxlbnwwfHwwfHx8MA%3D%3D"
                      alt="card image"></p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">This is basic card with image on top, title, description and button.</p>
                  <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                      class="fa fa-plus"></i></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
  </div>
</section>
<!-- Team -->