

.btn-primary {
  background-color: #0b8a76;
  border-color: #0b8a76;

}


.btn-primary:hover {
  background-color: #077565;
  border-color: #077565;
}

.btn-outline-secondary {
  border-color: #6c757d;
  color: #6c757d;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

.link-primary {
  cursor: pointer;
}

.link-primary:hover {
  text-decoration: underline;
}
