<div class="login-section">
    <h1>Login Form</h1>

    <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div *ngIf="loginForm.invalid && loginFormSubmitted" class="alert alert-danger">
            Please correct the errors in the form before submitting.
        </div>

        <!--Email-->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="email" class="form-control" id="email" placeholder="" formControlName="email"
                    autocomplete="current-email"
                    [class.is-invalid]="loginForm.get('email')!.invalid && loginForm.get('email')!.touched || loginFormSubmitted"
                    [class.is-valid]="loginForm.get('email')!.valid && loginForm.get('email')!.touched || loginFormSubmitted">
                <label for="email" class="form-label">Email*</label>
                <div *ngIf="(loginForm.get('email')!.invalid && loginForm.get('email')!.touched) || loginFormSubmitted"
                    class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
        </div>

        <!--Password-->
        <div class="col-md-6">
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="" formControlName="password"
                    autocomplete="current-password"
                    [class.is-invalid]="loginForm.get('password')!.invalid && loginForm.get('password')!.touched || loginFormSubmitted"
                    [class.is-valid]="loginForm.get('password')!.valid && loginForm.get('password')!.touched || loginFormSubmitted">
                <label for="password" class="form-label">Password*</label>
                <div *ngIf="(loginForm.get('password')!.invalid && loginForm.get('password')!.touched) || loginFormSubmitted"
                    class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
        </div>

        <div class="d-grid gap-4 d-md-block">
            <button type="reset" role="button" (click)="onCancel()" class="btn btn-outline-dark">Close</button>
            <button type="submit" class="btn btn-dark mx-md-3">Login</button>
        </div>
    </form>
</div>