<ul class="nav nav-tabs mt-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item" *ngIf="usertype != 'admin'">
    <a class="nav-link" [routerLink]="['/appointments']" routerLinkActive="active">Apoitments</a>
  </li>
  <li class="nav-item" *ngIf="usertype === 'admin'">
    <a class="nav-link" [routerLink]="['/appointments-management']" routerLinkActive="active">Apoitments Management</a>
  </li>

  <li class="nav-item" *ngIf="usertype === 'admin'">
    <a class="nav-link" [routerLink]="['/patients-management']" routerLinkActive="active">Patients Managment</a>
  </li>
  <li class="nav-item" *ngIf="usertype === 'admin'">
    <a class="nav-link" [routerLink]="['/employees-management']" routerLinkActive="active">Employees Managment</a>
  </li>
  <li class="nav-item" *ngIf="usertype === 'admin'">
    <a class="nav-link" [routerLink]="['/services-management']" routerLinkActive="active">Services Managment</a>
  </li>

</ul>
