<ul class="nav nav-tabs mt-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/appointments']" routerLinkActive="active">Apoitments</a>
  </li>
  <li class="nav-item" *ngIf="usertype === 'employee'">
    <a class="nav-link" [routerLink]="['/Patients']" routerLinkActive="active">Patients Managment</a>
  </li>
  <li class="nav-item" *ngIf="usertype === 'employee'">
    <a class="nav-link" [routerLink]="['/Employees']" routerLinkActive="active">Employees Managment</a>
  </li>
  <li class="nav-item" *ngIf="usertype === 'employee'">
    <a class="nav-link" [routerLink]="['/Services']" routerLinkActive="active">Services Managment</a>
  </li>

</ul>
