<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title mb-4">
          <h5 class="position-relative d-inline-block text-success text-uppercase">About Us</h5>
          <h1 class="display-5 mb-0">The World's Best Dental Clinic That You Can Trust</h1>
        </div>
        <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit
          clita duo justo magna dolore</h4>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et
          eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor
          eirmod magna dolore erat amet</p>
        <div class="row g-3">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Award Winning</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Professional Staff</h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>24/7 Opened</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Fair Prices</h5>
          </div>
        </div>
        <a href="appointment.html" class="btn btn-success py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">Make
          Appointment</a>
      </div>
      <div class="col-lg-5" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="https://images.unsplash.com/photo-1662837775272-545d8e143ad0?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHphaG4lMjBBcnp0fGVufDB8fDB8fHwy"
            style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>
