<div class="container-fluid pt-3 pb-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title mb-4">

          <h5 class="position-relative d-inline-block text-success text-uppercase">About Us</h5>
          <h1 class="display-5 mb-0">Trusted Care for Your Family's Health</h1>
        </div>
        <h4 class="text-body fst-italic mb-4">Providing compassionate, comprehensive care for all ages.</h4>
        <p class="mb-4">At our clinic, we believe in a holistic approach to healthcare. Our experienced and friendly
          staff are dedicated to meeting the unique needs of each patient. From routine check-ups to managing chronic
          conditions, we are here to support your family's health and well-being.</p>
        <div class="row g-3">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Personalized Care</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Experienced Physicians</h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Convenient Hours</h5>
            <h5 class="mb-3"><i class="fa fa-check-circle text-success me-3"></i>Affordable Services</h5>
          </div>
        </div>
        <a routerLink="/appointments" class="btn btn-success py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">Make
          Appointment</a>
      </div>
      <div class="col-lg-5" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
            src="https://images.unsplash.com/photo-1632054229795-4097870879b4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTZ8fGhhdXNhcnR6dGlufGVufDB8fDB8fHww"
            style="object-fit: cover;">
        </div>
      </div>
    </div>
  </div>
</div>
